<div class="col-md-12">
  <h2>Blogs</h2>
</div>
<%= form_for @blog, class:"form-group" do |f| %>
  <% if @blog.errors.any? %>
    <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: "Body", class:"form-control" %>
  </div>
  <%= f.submit "Create", class: "btn btn-warning form-control" %>

<% end %>
